# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\abner.yang\OneDrive - HKUST Connect\Documents\SmartMore\其他\CoDe\pythonProject\PiDNG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
